<div class="tm-top-header">
      <div class="container">
        <div class="row">
          <div class="tm-top-header-inner">
            <div class="tm-logo-container">
              <img src="assets/img/logo-recipe.png" alt="Logo" class="logo-recipe">
              <!-- <h1 class="tm-site-name tm-handwriting-font">Cafe House</h1> -->
            </div>
            <div class="mobile-menu-icon">
              <i class="fa fa-bars"></i>
            </div>
            <nav class="tm-nav">
              <ul>
                <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" style="cursor: pointer">Home</a></li>
                <li><a routerLink="popularItems" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" style="cursor: pointer">Today Special</a></li>
                <li><a routerLink="menu" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" style="cursor: pointer">Menu</a></li>
                <li><a routerLink="contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" style="cursor: pointer">Contact</a></li>
                <li><a routerLink="login" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" style="cursor: pointer">Login</a></li>
                <li><a routerLink="order" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" style="cursor: pointer">Order</a></li>
              </ul>
            </nav>
           

          </div>           
        </div>    
      </div>
    </div>
